body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    top: 5%;
    min-width: 35%;
    left: -20px;
    background-color: #586f7c;
    border: 1px solid #ffffff;
    border-radius: 24px;
    display: flex;
    justify-content: space-around;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
    font-size: 14px;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.profile-post {
    text-align: center;
}

.profile-post-button:hover {
    background-color: #586f7c;
    color: #fff;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #586f7c;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #586f7c;
}

.link {
    color: #586f7c;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #8c2f39;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #8c2f39;
    font-size: larger;
    background: transparent;
    border: none;
}



/* Style for the modal container */
#newsletter-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Style for the modal content */
.modal-content {
    background-color: #2f4550;
    color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* Style for the close button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #b8dbd9;
    text-decoration: none;
    cursor: pointer;
}

/* Style for the form inside the modal */
form {
    margin-top: 20px;
}

/* Style for the subscribe button */
button {
    background-color: #fff;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #b8dbd9;
    color: #2f4550;
}

.footer {
    background-color: #2f4550;
}

.btn-danger {
    background-color: #8c2f39;
    border-color: #8c2f39;
}

/* Target the input generated by Crispy Forms for fields */
input {
    /* Your styling for the file input */
    padding: 10px;
    background-color: #586f7c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-control {
    margin-bottom: 15px;
}

::placeholder {
    color: #fff;
}

.search-btn {
    background-color: #586f7c;
    color: #fff;
    height: 38px;
    margin-right: 15px;
    border: none;
}

/* for profile page */

.account-img-sm {
    width: 80px;
    height: 80px;
}

.profile-form {
    max-width: 500px;
}

#hint_id_username {
    display: none;
}

.profile-submit {
    margin-top: 15px;
    background-color: #586f7c;
    border: none;
}

.profile-submit:hover {
    background-color: #b8dbd9;
    color: #2f4550;
}

.fab:hover {
    background-color: #b8dbd9;
}

.draft-status {
    background-color: #b8dbd9;
    top: 60%;
    height: 30px;
}

.card-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-created {
    flex: 1;
}

.likes-comments-container {
    display: flex;
    gap: 10px;
}

.comment-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 0 10px 0;
}

.comments.align-left {
    text-align: left;
    background-color: #2f4550;
}

.comments.align-right {
    background-color: #586f7c;
    text-align: right;
    margin-right: 100px;
}

.comments {
    color: #fff;
    margin: 25px;
    padding: 20px;
    border-radius: 20px;
}

.media {
    margin-top: 25px;
}