{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center mb-3">
    <div class="container-about">
        <h2 class="text-center mt-5">About us</h2>
        <hr>
        <p>
            Welcome to Golf Plus, where our passion for the game is as boundless as the lush greens we aim to celebrate.
            Founded in 2023, Golf Plus was born out of the desire to create a dedicated space for enthusiasts who share
            a profound love for the sport of golf. Our mission is simple yet profound—to showcase the best golf courses,
            weaving together a tapestry of experiences that transcends the mere act of swinging a club.
        </p>
        <p>
            At Golf Plus, we believe in the power of community, uniting people who are not just players but connoisseurs
            of the greens. Whether you're a seasoned pro or a weekend warrior, our platform welcomes all who find solace
            and joy in the nuances of the game. Navigating through Golf Plus is as seamless as a perfect putt. With just
            a few clicks, enthusiasts can easily create an account, unlocking a portal to a world where golf is not just
            a sport but a way of life.
        </p>
        <p>
            What sets Golf Plus apart is our commitment to curate an impressive series of golf-related blogs, delving
            into the heart of the courses we feature. Each blog is a journey—a narrative that goes beyond fairways and
            hazards, exploring the essence of each golfing paradise. It's not just about the game; it's about the
            stories that unfold on these courses, the camaraderie shared, and the moments that make the pursuit of the
            perfect swing worthwhile.
        </p>
        <p>
            So, whether you're here to discover your next golfing destination, share your own experiences, or simply
            immerse yourself in the rich tapestry of golf culture, Golf Plus is your haven. Join us, and let's tee off
            on a journey where the love for the game knows no boundaries.
        </p>
        <img src="https://res.cloudinary.com/dc9f7ztkr/image/upload/v1698843622/kkdtcidnmmuo4a0zumsr.jpg"
            alt="Golf ball on the green beside the hole - About image">
    </div>
</div>
{% endblock %}