{% load static %}
<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>Golf Plus</title>
    <meta name="description" content="Golf Plus is a blog where users can share their Golfing adventures!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/67f275807d.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="{% static 'media/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body class="d-flex flex-column h-100 main-bg">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <!-- Logo for element/styling for mobile-->
            <a class="navbar-brand d-lg-none" href="{% url 'home' %}" aria-label="Home">
                <span>
                    <img class="brand"
                        src="https://raw.githubusercontent.com/leec313/Golf-Plus/main/static/media/golfplus.webp"
                        alt="Golf Plus logo" style="height: 82px;">
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse order-lg-1" id="navbarText">
                <div class="d-flex flex-lg-row flex-column justify-content-between align-items-center w-100">
                    <div class="d-flex align-items-center">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about' %}" aria-label="About">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contact' %}" aria-label="Contact">Contact</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'post_new' %}" aria-label="Create Post">Create
                                    Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'profile' %}" aria-label="Profile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_logout' %}" aria-label="Logout">Logout</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_signup' %}" aria-label="Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_login' %}" aria-label="Login">Login</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="d-flex align-items-center justify-content-center flex-grow-1">
                        <!-- Logo for element/styling for desktop (centered)-->
                        <div class="d-none d-lg-block mx-auto order-lg-2">
                            <a class="navbar-brand" href="{% url 'home' %}" aria-label="Home">
                                <span>
                                    <img class="brand"
                                        src="https://raw.githubusercontent.com/leec313/Golf-Plus/main/static/media/golfplus.webp"
                                        alt="Golf Plus logo" style="height: 82px;">
                                </span>
                            </a>
                        </div>
                    </div>
                    <!-- Search bar-->
                    <div class="d-flex align-items-center">
                        <form class="d-flex" method="get" action="{% url 'post_list' %}">
                            <input class="form-control me-2" type="text" name="search" placeholder="Find a post...">
                            <button class="btn search-btn" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Message alerts -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>
    <!-- Footer -->
    <footer class="footer mt-auto py-3">
        <p class="m-0 text-center text-white">Lee Curtis | Golf Plus | 2023 &copy;</p>
        <p class="m-0 text-center text-white">Follow us:
            <a href="https://www.facebook.com" target="_blank" aria-label="Link to our Facebook"><i
                    class="fab fa-facebook-square ms-3 text-white"></i></a>
            <a href="https://www.twitter.com" target="_blank" aria-label="Link to our Twitter"><i
                    class="fab fa-twitter-square ms-3 text-white"></i></a>
            <a href="https://www.instagram.com" target="_blank" aria-label="Link to our Instagram"><i
                    class="fab fa-instagram-square ms-3 text-white"></i></a>
            <a href="https://www.youtube.com" target="_blank" aria-label="Link to our YouTube"><i
                    class="fab fa-youtube-square ms-3 text-white"></i></a>
    </footer>
</body>

</html>