{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <!-- Checking if a post the user searched for was found - if not return "no posts found"-->
                {% if no_results %}
                <h2 class="text-center mt-3">No posts found.</h2>
                {% elif request.GET.search %}
                <h2 class="text-center mt-3">Search results for: "{{ request.GET.search }}"</h2>
                {% else %}
                <div class="hero-container">
                    <div class="hero-carousel">
                        <img src="https://res.cloudinary.com/dc9f7ztkr/image/upload/v1698685630/xflcvt9agv2lsnpi88fr.jpg"
                            alt="Scenic View Golf Course">
                        <img src="https://res.cloudinary.com/dc9f7ztkr/image/upload/v1699124451/gttifsmzjclrgninbgtd.jpg"
                            alt="Druid's Glen Golf Course">
                        <img src="https://res.cloudinary.com/dc9f7ztkr/image/upload/v1699124628/oxqs1hkphj6gujv5ajmb.webp"
                            alt="Scenic View of Tralee Golf Course">
                    </div>
                    <a href="{% url 'about' %}">
                        <div class="hero-text">
                            <h2>The Go-To Golf Blog</h2>
                        </div>
                    </a>
                </div>
                <h2 class="text-center mt-3">Latest Blog Posts</h2>
                {% endif %}
                {% for post in posts %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <a href="{% url 'post_detail' post.slug  %}">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top"
                                        src="https://images.unsplash.com/photo-1538648759472-7251f7cb2c2f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="author">Author: {{ post.author }}</p>
                                    </div>
                                </div>
                                <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                                    <h2 class="card-title text-uppercase">{{ post.title }}</h2>
                                    <p class="card-text">
                                        <!-- If the excerpt exceeds 100 characters, it cuts it off -->
                                        {{ post.excerpt|slice:":100" }}{% if post.excerpt|length > 100 %}...{% endif %}
                                    </p>
                                </a>
                                <hr />
                                <div class="card-text text-muted h6">
                                    <span class="date-created">{{ post.created_on}}</span>
                                    <span class="likes-comments-container">
                                        <i class="far fa-heart"></i> {{ post.number_of_likes }}
                                        <i class="far fa-comments"></i> {{ post.comments.count }}
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    {% include 'subscribe_modal.html' %}
</div>
{% endblock %}