{% extends "base.html" %}
{% load crispy_forms_tags static %}
{% block content %}
<div class="content-section text-center max-w-50">
    <div class="mt-3">
        {% if user.profile.image %}
        <img class="rounded-circle account-img-sm" src="{{ user.profile.image.url }}" alt="{{ user.username }}">
        {% else %}
        <img class="rounded-circle account-img-sm" src="{% static 'default-images/profile.png' %}"
            alt="{{ user.username }}">
        {% endif %}
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
    <div class="mx-auto my-4 profile-form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ image_form|crispy }}
            <button type="submit" class="btn btn-primary btn-block profile-submit">Update Profile</button>
        </form>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete_account' %}">Delete Account</a>
    </div>
</div>
{% if user_posts %}
<div class="container-fluid">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <h2 class="text-center">Your Posts</h2>
                <hr />
                {% for post in user_posts %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <a href="{% url 'post_detail' post.slug %}">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top"
                                        src="https://images.unsplash.com/photo-1538648759472-7251f7cb2c2f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80">
                                    {% else %}
                                    <img class="card-img-top" src="{{ post.featured_image.url }}">
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="author">Author: {{ post.author }}</p>
                                    </div>
                                </div>
                                <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                    <h2 class="card-title">{{ post.title }}</h2>
                                    <p class="card-text">{{ post.excerpt }}</p>
                                </a>
                                <p class="card-text text-muted h6">
                                    {% if post.status == 1 %}
                                    <hr />
                                    <div class="card-text text-muted h6">
                                        <span class="date-created">{{ post.created_on}}</span>
                                        <span class="likes-comments-container">
                                            <i class="far fa-heart"></i>
                                            {{ post.number_of_likes }}
                                            <i class="far fa-comments"></i>
                                            {{ post.comments.count }}
                                        </span>
                                    </div>
                                    {% else %}
                                    <div class="image-flash draft-status">
                                        <p>Pending Approval</p>
                                    </div>
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if user_posts.has_other_pages %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if user_posts.has_previous %}
            <li><a href="?page={{ user_posts.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            <li class="page-item disabled"><span class="page-link">Page {{ user_posts.number }} of
                    {{ user_posts.paginator.num_pages }}</span></li>
            {% if user_posts.has_next %}
            <li><a href="?page={{ user_posts.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% else %}
<hr>
<div class="profile-post">
    <a class="btn profile-post-button mb-3" href="{% url 'post_new' %}">
        <h3>Click here to create your first post!</h3>
    </a>
</div>
{% endif %}
{% endblock content %}