{% load static %}
{% load crispy_forms_tags %}


<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'script.js' %}"></script>

<div id="newsletter-modal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <span class="logo-newsletter">
            <img class="brand"
                src="https://res.cloudinary.com/dc9f7ztkr/image/upload/v1698684645/n0ifjhpoaalrleqoqkvi.png"
                alt="Golf Plus logo">
        </span>
        <div class="modal-text">
            <h2 class="mx-auto text-center mt-1">Ready For Your Next Golf Adventure?</h2>
            <hr>
            <p class="mx-auto text-center">Subscribe to our Newsletter for the best course recommendations!</p>
        </div>
        <form method="post" action="{% url 'subscribe_newsletter' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Subscribe</button>
        </form>
    </div>
</div>